name: API Tests (Newman)

on:
  push:
    branches: ["*"]
  pull_request:


jobs:
  newman:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Newman and HTML reporter
        run: |
          npm install -g newman newman-reporter-htmlextra

      - name: Run Postman Collection against deployed API
        run: |
          mkdir -p newman
          newman run postman_collection.json \
            -e local.postman_environment.json \
            --env-var baseUrl=https://automation-engineer-test-be.onrender.com/api \
            -r cli,htmlextra \
            --reporter-htmlextra-export newman/report.html \
            --timeout-request 30000 \
            --timeout-script 30000

      - name: Upload Newman HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: newman-report
          path: newman/report.html
